$text-animation-step-duration: 250;
$text-animation-duration-coefficient: 2;
$text-animation-max-duration: 20000;

@for $i from 1 through ($text-animation-max-duration / $text-animation-step-duration) {
    .animate {
        .animated-#{$i * $text-animation-step-duration}ms {
            animation: text-animation-#{$i} calc(#{($i + $text-animation-duration-coefficient) * $text-animation-step-duration * 1ms}) linear;
        }
    }

    @keyframes text-animation-#{$i} {
        0%, #{100% * (1 - (1 / ($i + $text-animation-duration-coefficient)))} {
            opacity: 0;
            visibility: hidden;
        }
        100% {
            opacity: 1;
            visibility: visible;
        }
    }
}
