.animate .animated-250ms {
  animation: text-animation-1 calc(750ms) linear;
}

@keyframes text-animation-1 {
  0%, 66.6666666667% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-500ms {
  animation: text-animation-2 calc(1000ms) linear;
}

@keyframes text-animation-2 {
  0%, 75% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-750ms {
  animation: text-animation-3 calc(1250ms) linear;
}

@keyframes text-animation-3 {
  0%, 80% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-1000ms {
  animation: text-animation-4 calc(1500ms) linear;
}

@keyframes text-animation-4 {
  0%, 83.3333333333% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-1250ms {
  animation: text-animation-5 calc(1750ms) linear;
}

@keyframes text-animation-5 {
  0%, 85.7142857143% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-1500ms {
  animation: text-animation-6 calc(2000ms) linear;
}

@keyframes text-animation-6 {
  0%, 87.5% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-1750ms {
  animation: text-animation-7 calc(2250ms) linear;
}

@keyframes text-animation-7 {
  0%, 88.8888888889% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-2000ms {
  animation: text-animation-8 calc(2500ms) linear;
}

@keyframes text-animation-8 {
  0%, 90% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-2250ms {
  animation: text-animation-9 calc(2750ms) linear;
}

@keyframes text-animation-9 {
  0%, 90.9090909091% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-2500ms {
  animation: text-animation-10 calc(3000ms) linear;
}

@keyframes text-animation-10 {
  0%, 91.6666666667% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-2750ms {
  animation: text-animation-11 calc(3250ms) linear;
}

@keyframes text-animation-11 {
  0%, 92.3076923077% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-3000ms {
  animation: text-animation-12 calc(3500ms) linear;
}

@keyframes text-animation-12 {
  0%, 92.8571428571% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-3250ms {
  animation: text-animation-13 calc(3750ms) linear;
}

@keyframes text-animation-13 {
  0%, 93.3333333333% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-3500ms {
  animation: text-animation-14 calc(4000ms) linear;
}

@keyframes text-animation-14 {
  0%, 93.75% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-3750ms {
  animation: text-animation-15 calc(4250ms) linear;
}

@keyframes text-animation-15 {
  0%, 94.1176470588% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-4000ms {
  animation: text-animation-16 calc(4500ms) linear;
}

@keyframes text-animation-16 {
  0%, 94.4444444444% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-4250ms {
  animation: text-animation-17 calc(4750ms) linear;
}

@keyframes text-animation-17 {
  0%, 94.7368421053% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-4500ms {
  animation: text-animation-18 calc(5000ms) linear;
}

@keyframes text-animation-18 {
  0%, 95% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-4750ms {
  animation: text-animation-19 calc(5250ms) linear;
}

@keyframes text-animation-19 {
  0%, 95.2380952381% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-5000ms {
  animation: text-animation-20 calc(5500ms) linear;
}

@keyframes text-animation-20 {
  0%, 95.4545454545% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-5250ms {
  animation: text-animation-21 calc(5750ms) linear;
}

@keyframes text-animation-21 {
  0%, 95.652173913% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-5500ms {
  animation: text-animation-22 calc(6000ms) linear;
}

@keyframes text-animation-22 {
  0%, 95.8333333333% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-5750ms {
  animation: text-animation-23 calc(6250ms) linear;
}

@keyframes text-animation-23 {
  0%, 96% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-6000ms {
  animation: text-animation-24 calc(6500ms) linear;
}

@keyframes text-animation-24 {
  0%, 96.1538461538% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-6250ms {
  animation: text-animation-25 calc(6750ms) linear;
}

@keyframes text-animation-25 {
  0%, 96.2962962963% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-6500ms {
  animation: text-animation-26 calc(7000ms) linear;
}

@keyframes text-animation-26 {
  0%, 96.4285714286% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-6750ms {
  animation: text-animation-27 calc(7250ms) linear;
}

@keyframes text-animation-27 {
  0%, 96.5517241379% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-7000ms {
  animation: text-animation-28 calc(7500ms) linear;
}

@keyframes text-animation-28 {
  0%, 96.6666666667% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-7250ms {
  animation: text-animation-29 calc(7750ms) linear;
}

@keyframes text-animation-29 {
  0%, 96.7741935484% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-7500ms {
  animation: text-animation-30 calc(8000ms) linear;
}

@keyframes text-animation-30 {
  0%, 96.875% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-7750ms {
  animation: text-animation-31 calc(8250ms) linear;
}

@keyframes text-animation-31 {
  0%, 96.9696969697% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-8000ms {
  animation: text-animation-32 calc(8500ms) linear;
}

@keyframes text-animation-32 {
  0%, 97.0588235294% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-8250ms {
  animation: text-animation-33 calc(8750ms) linear;
}

@keyframes text-animation-33 {
  0%, 97.1428571429% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-8500ms {
  animation: text-animation-34 calc(9000ms) linear;
}

@keyframes text-animation-34 {
  0%, 97.2222222222% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-8750ms {
  animation: text-animation-35 calc(9250ms) linear;
}

@keyframes text-animation-35 {
  0%, 97.2972972973% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-9000ms {
  animation: text-animation-36 calc(9500ms) linear;
}

@keyframes text-animation-36 {
  0%, 97.3684210526% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-9250ms {
  animation: text-animation-37 calc(9750ms) linear;
}

@keyframes text-animation-37 {
  0%, 97.4358974359% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-9500ms {
  animation: text-animation-38 calc(10000ms) linear;
}

@keyframes text-animation-38 {
  0%, 97.5% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-9750ms {
  animation: text-animation-39 calc(10250ms) linear;
}

@keyframes text-animation-39 {
  0%, 97.5609756098% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-10000ms {
  animation: text-animation-40 calc(10500ms) linear;
}

@keyframes text-animation-40 {
  0%, 97.619047619% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-10250ms {
  animation: text-animation-41 calc(10750ms) linear;
}

@keyframes text-animation-41 {
  0%, 97.6744186047% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-10500ms {
  animation: text-animation-42 calc(11000ms) linear;
}

@keyframes text-animation-42 {
  0%, 97.7272727273% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-10750ms {
  animation: text-animation-43 calc(11250ms) linear;
}

@keyframes text-animation-43 {
  0%, 97.7777777778% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-11000ms {
  animation: text-animation-44 calc(11500ms) linear;
}

@keyframes text-animation-44 {
  0%, 97.8260869565% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-11250ms {
  animation: text-animation-45 calc(11750ms) linear;
}

@keyframes text-animation-45 {
  0%, 97.8723404255% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-11500ms {
  animation: text-animation-46 calc(12000ms) linear;
}

@keyframes text-animation-46 {
  0%, 97.9166666667% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-11750ms {
  animation: text-animation-47 calc(12250ms) linear;
}

@keyframes text-animation-47 {
  0%, 97.9591836735% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-12000ms {
  animation: text-animation-48 calc(12500ms) linear;
}

@keyframes text-animation-48 {
  0%, 98% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-12250ms {
  animation: text-animation-49 calc(12750ms) linear;
}

@keyframes text-animation-49 {
  0%, 98.0392156863% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-12500ms {
  animation: text-animation-50 calc(13000ms) linear;
}

@keyframes text-animation-50 {
  0%, 98.0769230769% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-12750ms {
  animation: text-animation-51 calc(13250ms) linear;
}

@keyframes text-animation-51 {
  0%, 98.1132075472% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-13000ms {
  animation: text-animation-52 calc(13500ms) linear;
}

@keyframes text-animation-52 {
  0%, 98.1481481481% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-13250ms {
  animation: text-animation-53 calc(13750ms) linear;
}

@keyframes text-animation-53 {
  0%, 98.1818181818% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-13500ms {
  animation: text-animation-54 calc(14000ms) linear;
}

@keyframes text-animation-54 {
  0%, 98.2142857143% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-13750ms {
  animation: text-animation-55 calc(14250ms) linear;
}

@keyframes text-animation-55 {
  0%, 98.2456140351% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-14000ms {
  animation: text-animation-56 calc(14500ms) linear;
}

@keyframes text-animation-56 {
  0%, 98.275862069% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-14250ms {
  animation: text-animation-57 calc(14750ms) linear;
}

@keyframes text-animation-57 {
  0%, 98.3050847458% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-14500ms {
  animation: text-animation-58 calc(15000ms) linear;
}

@keyframes text-animation-58 {
  0%, 98.3333333333% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-14750ms {
  animation: text-animation-59 calc(15250ms) linear;
}

@keyframes text-animation-59 {
  0%, 98.3606557377% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-15000ms {
  animation: text-animation-60 calc(15500ms) linear;
}

@keyframes text-animation-60 {
  0%, 98.3870967742% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-15250ms {
  animation: text-animation-61 calc(15750ms) linear;
}

@keyframes text-animation-61 {
  0%, 98.4126984127% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-15500ms {
  animation: text-animation-62 calc(16000ms) linear;
}

@keyframes text-animation-62 {
  0%, 98.4375% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-15750ms {
  animation: text-animation-63 calc(16250ms) linear;
}

@keyframes text-animation-63 {
  0%, 98.4615384615% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-16000ms {
  animation: text-animation-64 calc(16500ms) linear;
}

@keyframes text-animation-64 {
  0%, 98.4848484848% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-16250ms {
  animation: text-animation-65 calc(16750ms) linear;
}

@keyframes text-animation-65 {
  0%, 98.5074626866% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-16500ms {
  animation: text-animation-66 calc(17000ms) linear;
}

@keyframes text-animation-66 {
  0%, 98.5294117647% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-16750ms {
  animation: text-animation-67 calc(17250ms) linear;
}

@keyframes text-animation-67 {
  0%, 98.5507246377% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-17000ms {
  animation: text-animation-68 calc(17500ms) linear;
}

@keyframes text-animation-68 {
  0%, 98.5714285714% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-17250ms {
  animation: text-animation-69 calc(17750ms) linear;
}

@keyframes text-animation-69 {
  0%, 98.5915492958% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-17500ms {
  animation: text-animation-70 calc(18000ms) linear;
}

@keyframes text-animation-70 {
  0%, 98.6111111111% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-17750ms {
  animation: text-animation-71 calc(18250ms) linear;
}

@keyframes text-animation-71 {
  0%, 98.6301369863% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-18000ms {
  animation: text-animation-72 calc(18500ms) linear;
}

@keyframes text-animation-72 {
  0%, 98.6486486486% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-18250ms {
  animation: text-animation-73 calc(18750ms) linear;
}

@keyframes text-animation-73 {
  0%, 98.6666666667% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-18500ms {
  animation: text-animation-74 calc(19000ms) linear;
}

@keyframes text-animation-74 {
  0%, 98.6842105263% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-18750ms {
  animation: text-animation-75 calc(19250ms) linear;
}

@keyframes text-animation-75 {
  0%, 98.7012987013% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-19000ms {
  animation: text-animation-76 calc(19500ms) linear;
}

@keyframes text-animation-76 {
  0%, 98.7179487179% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-19250ms {
  animation: text-animation-77 calc(19750ms) linear;
}

@keyframes text-animation-77 {
  0%, 98.7341772152% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-19500ms {
  animation: text-animation-78 calc(20000ms) linear;
}

@keyframes text-animation-78 {
  0%, 98.75% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-19750ms {
  animation: text-animation-79 calc(20250ms) linear;
}

@keyframes text-animation-79 {
  0%, 98.7654320988% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.animate .animated-20000ms {
  animation: text-animation-80 calc(20500ms) linear;
}

@keyframes text-animation-80 {
  0%, 98.7804878049% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/*# sourceMappingURL=TextAnimation.css.map */
