---
import Page from "../layouts/Page.astro";
---

<Page title="Home">
  <div
    id="home"
    class="grid grid-cols-2 grid-rows-2 w-[35rem] h-80 gap-1 bg-primary bg-opacity-50"
  >
    <div class="box rounded-br-3xl hover:mb-1 hover:mr-1">
      <a href="/smth">My story</a>
    </div>
    <div class="box rounded-bl-3xl hover:mb-1 hover:ml-1">
      <a href="/smth">My work</a>
    </div>
    <div class="box rounded-tr-3xl hover:mt-1 hover:mr-1">
      <a href="/smth">My skills</a>
    </div>
    <div class="box rounded-tl-3xl hover:mt-1 hover:ml-1">
      <a href="/smth">My socials</a>
    </div>
  </div>
</Page>

<style lang="scss" scoped>
  .box {
    @apply bg-background p-1 overflow-hidden;

    a {
      @apply w-full h-full flex items-center justify-center text-xl text-onPrimary hover:scale-125 transition-transform;
    }
  }
</style>

<script>
  const home = document.querySelector("#home")!!;
  const boxes = document.querySelectorAll(".box");

  home.addEventListener("pointermove", (_event) => {
    boxes.forEach((_box) => {
      const event = _event as PointerEvent;
      const box = _box as HTMLElement;
      const rect = box.getBoundingClientRect();
      box.style.setProperty("--x", `${event.clientX - rect.left}px`);
      box.style.setProperty("--y", `${event.clientY - rect.top}px`);
    });
  });
</script>
