@import "../../styles/Colors";
@import "../../styles/Mixins";

.navbar {
    @include flex(row, true);

    width: 100%;
    height: 7%;
    @media only screen and (max-width: 666px) {
        height: 8%;
    }

    margin: 0;
    padding: 0;

    background-color: $background-02;

    overflow-x: auto;
    overflow-y: hidden;

    h2 {
        margin: 1rem;
        padding: 0;

        transition: color 250ms ease-in-out;

        cursor: pointer;

        font-size: 1.8rem;
        font-weight: bold;
        text-decoration: none;

        color: $text-01;

        &.current {
            color: orange;
        }
    }
}
