.content {
  margin: 2rem;
  padding: 0 0 2.5rem 0;
}
.content * {
  z-index: 0;
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-BoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLight.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light";
  src: url("/fonts/jetbrains/JetBrainsMono-Light.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-LightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("/fonts/jetbrains/JetBrainsMono-Medium.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-MediumItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin";
  src: url("/fonts/jetbrains/JetBrainsMono-Thin.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ThinItalic.ttf");
}
.language-settings .language-settings-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0.75rem;
  right: 1.25rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  pointer-events: all;
  z-index: 1;
}
.language-settings .language-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 3.75rem;
  right: 1.25rem;
  z-index: 1;
}
.language-settings .language-dropdown .language-dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
}
.language-settings .language-dropdown.active .language-dropdown-item {
  visibility: visible;
  opacity: 1;
}
.language-settings .language-flag {
  aspect-ratio: 16/10;
  width: 3rem;
  margin-right: 0.75rem;
  pointer-events: none;
}
.language-settings .language-name {
  font-size: 1rem;
  font-family: "JetBrains Mono Regular", sans-serif;
  color: rgb(238, 238, 238);
  pointer-events: none;
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-BoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLight.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light";
  src: url("/fonts/jetbrains/JetBrainsMono-Light.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-LightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("/fonts/jetbrains/JetBrainsMono-Medium.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-MediumItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin";
  src: url("/fonts/jetbrains/JetBrainsMono-Thin.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ThinItalic.ttf");
}
.navbar-toggle-container {
  position: fixed;
  transition: transform 250ms ease-in-out;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0.5rem;
    top: 0;
    width: fit-content;
    height: 100%;
    transform: translateX(0);
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0.5rem;
    top: 0;
    width: fit-content;
    height: 100%;
    transform: translateX(0);
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0.5rem;
    width: 100%;
    height: fit-content;
    transform: translateY(0);
  }
}
.navbar-toggle-container .navbar-toggle {
  position: relative;
  margin: 0;
  transition: transform 250ms ease-in-out, margin 250ms ease-in-out;
  cursor: pointer;
  z-index: 1;
  background: transparent;
  border: none;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-toggle-container .navbar-toggle {
    transform: rotate(90deg);
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-toggle-container .navbar-toggle {
    transform: rotate(90deg);
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-toggle-container .navbar-toggle {
    transform: rotate(180deg);
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-toggle-container.active {
    transform: translateX(-175%);
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-toggle-container.active {
    transform: translateX(-175%);
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-toggle-container.active {
    transform: translateY(-100%);
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-toggle-container.active .navbar-toggle {
    transform: rotate(-90deg);
    animation: icon-rotate-phone 250ms ease-in-out;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-toggle-container.active .navbar-toggle {
    transform: rotate(-90deg);
    animation: icon-rotate-phone 250ms ease-in-out;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-toggle-container.active .navbar-toggle {
    transform: rotate(0deg);
    animation: icon-rotate-pc 250ms ease-in-out;
  }
}

.navbar-container {
  position: fixed;
  pointer-events: none;
  background: transparent;
  margin: 0;
  transition: transform 250ms ease-in-out, margin 250ms ease-in-out;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: fit-content;
    height: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: fit-content;
    height: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    height: fit-content;
  }
}
.navbar-container .navbar {
  display: block;
  position: relative;
  width: fit-content;
  height: fit-content;
  pointer-events: none;
  border-radius: 10rem;
  background-color: rgb(32, 32, 32);
  z-index: 1;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-container .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-container .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-container .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.navbar-container .navbar .navbar-item {
  position: relative;
  border: none;
  cursor: pointer;
  color: rgb(238, 238, 238);
  background-color: transparent;
  font-family: "JetBrains Mono Semi Bold", sans-serif;
  transition: color 250ms ease-in-out;
  pointer-events: all;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-container .navbar .navbar-item {
    margin: 0.6rem 0.45rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-container .navbar .navbar-item {
    margin: 0.7rem 0.6rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-container .navbar .navbar-item {
    margin: 0.75rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-container .navbar .navbar-item {
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-container .navbar .navbar-item {
    padding: 0 0.25rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-container .navbar .navbar-item {
    padding: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-container .navbar .navbar-item {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-container .navbar .navbar-item {
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-container .navbar .navbar-item {
    font-size: 1.25rem;
  }
}
.navbar-container .navbar .navbar-item.selected {
  color: rgb(255, 183, 3) !important;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-container .navbar .navbar-item:first-of-type {
    margin-top: 1.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-container .navbar .navbar-item:first-of-type {
    margin-top: 1.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-container .navbar .navbar-item:first-of-type {
    margin-left: 1.5rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-container .navbar .navbar-item:last-of-type {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-container .navbar .navbar-item:last-of-type {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-container .navbar .navbar-item:last-of-type {
    margin-right: 1.5rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-container.active {
    transform: translateX(0);
    margin: 0 0.25rem 0 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-container.active {
    transform: translateX(0);
    margin: 0 0.25rem 0 0;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-container.active {
    transform: translateY(0);
    margin: 0 0 0.5rem 0;
  }
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.6rem;
  transition: opacity 250ms ease-in-out;
  pointer-events: none;
}
.navbar-buttons .navbar-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: "JetBrains Mono Regular", sans-serif;
  background-color: transparent;
  border: transparent 2px solid;
  border-radius: 1rem;
  cursor: pointer;
  color: rgb(224, 224, 224);
  z-index: 1;
  pointer-events: all;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-buttons .navbar-button {
    padding: 0.4rem 0.6rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-buttons .navbar-button {
    padding: 0.5rem 0.8rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-buttons .navbar-button {
    padding: 0.5rem 1rem;
  }
}
@supports (backdrop-filter: blur(5px) brightness(95%) grayscale(20%)) {
  .navbar-buttons .navbar-button {
    backdrop-filter: blur(5px) brightness(95%) grayscale(20%);
  }
}
@supports not (backdrop-filter: blur(5px) brightness(95%) grayscale(20%)) {
  .navbar-buttons .navbar-button {
    background-color: rgb(24, 25, 25);
  }
}
.navbar-buttons .navbar-button .navbar-button-icon {
  margin: 0 0 0 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
}
.navbar-buttons .navbar-button.previous {
  flex-direction: row-reverse;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-buttons .navbar-button.previous {
    left: 0.2rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-buttons .navbar-button.previous {
    left: 0.4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-buttons .navbar-button.previous {
    left: 0.6rem;
  }
}
.navbar-buttons .navbar-button.previous .navbar-button-icon {
  transform: rotate(180deg);
  margin: 0 0.5rem 0 0;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .navbar-buttons .navbar-button.next {
    right: 0.2rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .navbar-buttons .navbar-button.next {
    right: 0.4rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-buttons .navbar-button.next {
    right: 0.6rem;
  }
}
.navbar-buttons .navbar-button.disabled {
  display: none;
}
.navbar-buttons .navbar-button:hover {
  color: rgb(246, 244, 244);
  border-color: rgb(255, 183, 3);
  font-family: "JetBrains Mono Semi Bold", sans-serif;
}

@keyframes icon-rotate-pc {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes icon-rotate-phone {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.page-transition {
  display: block;
  position: fixed;
  top: 0;
  background-color: rgb(32, 32, 32);
  width: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.page-transition.from-left {
  left: 0;
  animation: page-transition-from-left 600ms ease-in-out;
}
.page-transition.from-right {
  right: 0;
  animation: page-transition-from-right 600ms ease-in-out;
}

@keyframes page-transition-from-left {
  0% {
    width: 0;
    margin-left: 0;
  }
  50% {
    width: 100vw;
    margin-left: 0;
  }
  100% {
    width: 0;
    margin-left: 100vw;
  }
}
@keyframes page-transition-from-right {
  0% {
    width: 0;
    margin-right: 0;
  }
  50% {
    width: 100vw;
    margin-right: 0;
  }
  100% {
    width: 0;
    margin-right: 100vw;
  }
}
.popup-container .popup {
  display: inline-block;
  position: absolute;
  background-color: rgb(32, 32, 32);
  border-radius: 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
  visibility: hidden;
  opacity: 0;
  transform: translateX(0.5rem) translateY(0.5rem);
  transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out;
}
.popup-container .popup.active {
  visibility: visible;
  opacity: 1;
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-BoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLight.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light";
  src: url("/fonts/jetbrains/JetBrainsMono-Light.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-LightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("/fonts/jetbrains/JetBrainsMono-Medium.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-MediumItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin";
  src: url("/fonts/jetbrains/JetBrainsMono-Thin.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ThinItalic.ttf");
}
.about .paragraph {
  margin: 1rem 0.25rem;
  padding: 0;
  max-width: 40%;
  word-break: break-word;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .about .paragraph {
    max-width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .about .paragraph {
    max-width: 80%;
  }
}
@media only screen and (min-width: 1000px) {
  .about .paragraph {
    max-width: 60%;
  }
}
.about .paragraph .special-char-0 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-1 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-2 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-3 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-4 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-5 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-6 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-7 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-8 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-9 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-10 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-11 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 1900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-12 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-13 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-14 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-15 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-16 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-17 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-18 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-19 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-20 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-21 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 2900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-22 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-23 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-24 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-25 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-26 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-27 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-28 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-29 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-30 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-31 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 3900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-32 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-33 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-34 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-35 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-36 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-37 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-38 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-39 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-40 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-41 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 4900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-42 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-43 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-44 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-45 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-46 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-47 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-48 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-49 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-50 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-51 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 5900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-52 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-53 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-54 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-55 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-56 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-57 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-58 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-59 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-60 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-61 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 6900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-62 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-63 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-64 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-65 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-66 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-67 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-68 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-69 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-70 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-71 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 7900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-72 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-73 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-74 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-75 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-76 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-77 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-78 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-79 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-80 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-81 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 8900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-82 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-83 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-84 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-85 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-86 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-87 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-88 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-89 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-90 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-91 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 9900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-92 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-93 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-94 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-95 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-96 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-97 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-98 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-99 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-100 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-101 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 10900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-102 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-103 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-104 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-105 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-106 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-107 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-108 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-109 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-110 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-111 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 11900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-112 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-113 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-114 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-115 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-116 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-117 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-118 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12600ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-119 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12700ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-120 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12800ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-121 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 12900ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-122 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 13000ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-123 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 13100ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-124 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 13200ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-125 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 13300ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-126 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 13400ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph .special-char-127 {
  display: inline-block;
  animation: jump 10000ms ease-in-out infinite;
  animation-delay: 13500ms;
  color: rgb(255, 183, 3);
  z-index: 0;
}
.about .paragraph:first-of-type {
  margin-top: 1.75rem;
}

@keyframes jump {
  0%, 5% {
    transform: translateY(0);
    color: rgb(255, 183, 3);
  }
  2.5% {
    transform: translateY(-0.25rem);
    color: rgb(255, 158, 0);
  }
}
@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-BoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLight.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light";
  src: url("/fonts/jetbrains/JetBrainsMono-Light.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-LightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("/fonts/jetbrains/JetBrainsMono-Medium.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-MediumItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin";
  src: url("/fonts/jetbrains/JetBrainsMono-Thin.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ThinItalic.ttf");
}
.contact .contact-options {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .contact .contact-options {
    flex-direction: column;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .contact .contact-options {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1000px) {
  .contact .contact-options {
    flex-direction: row;
  }
}
.contact .contact-options .contact-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-end;
  margin: 0.5rem 0.25rem;
  padding: 0;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .contact .contact-options .contact-form {
    margin-bottom: 0.1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .contact .contact-options .contact-form {
    margin-bottom: 0.3rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact .contact-options .contact-form {
    margin-bottom: 0.5rem;
  }
}
.contact .contact-options .contact-form .subtitle {
  width: fit-content;
}
.contact .contact-options .contact-form .contact-form-input {
  background-color: rgb(32, 32, 32);
  border-radius: 0.1rem;
  border: none;
  width: 18rem;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem;
  color: rgb(238, 238, 238);
  font-family: "JetBrains Mono Regular", sans-serif;
}
.contact .contact-options .contact-form .contact-form-subject {
  height: fit-content;
  font-size: 1.1rem;
}
.contact .contact-options .contact-form .contact-form-message {
  height: 6rem;
  font-size: 0.9rem;
  resize: none;
}
.contact .contact-options .contact-form .contact-form-submit {
  width: fit-content;
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  color: rgb(224, 224, 224);
  border: 2px transparent solid;
  font-size: 1.2rem;
  font-family: "JetBrains Mono Regular", sans-serif;
  background-color: transparent;
  border-radius: 1rem;
  text-align: center;
}
.contact .contact-options .contact-form .contact-form-submit:hover {
  color: rgb(238, 238, 238);
  border-color: rgb(255, 183, 3);
}
.contact .contact-options .contact-social-media-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.25rem;
  padding: 0;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .contact .contact-options .contact-social-media-container {
    margin-top: 0.1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .contact .contact-options .contact-social-media-container {
    margin-top: 0.3rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact .contact-options .contact-social-media-container {
    margin-top: 0.5rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .contact .contact-options .contact-social-media-container .subtitle {
    margin-top: 0.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .contact .contact-options .contact-social-media-container .subtitle {
    margin-top: 0.85rem;
  }
}
@media only screen and (min-width: 1000px) {
  .contact .contact-options .contact-social-media-container .subtitle {
    margin-top: 1.15rem;
  }
}
.contact .contact-options .contact-social-media-container .contact-social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0.25rem;
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media .contact-social-media-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-decoration: none;
  color: rgb(238, 238, 238);
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media .contact-social-media-link .contact-social-media-icon {
  width: 1.8rem;
  height: 1.8rem;
  z-index: 1;
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media .contact-social-media-link .contact-social-media-icon:hover {
  cursor: pointer;
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media .contact-social-media-link .contact-social-media-name {
  display: inline-block;
  margin: 0 0.4rem;
  padding: 0;
  width: fit-content;
  font-size: 1.1rem;
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media .contact-social-media-additional-info {
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 400ms ease-in-out, opacity 400ms ease-in-out;
  color: rgb(238, 238, 238);
  background-color: transparent;
  border: none;
  width: fit-content;
  font-size: 1rem;
  font-family: "JetBrains Mono Regular", sans-serif;
  cursor: pointer;
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media .contact-social-media-additional-info::before {
  content: " (";
  color: rgb(224, 224, 224);
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media .contact-social-media-additional-info::after {
  content: ")";
  color: rgb(224, 224, 224);
}
.contact .contact-options .contact-social-media-container .contact-social-media-list .contact-social-media:hover .contact-social-media-additional-info {
  visibility: visible;
  opacity: 1;
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-BoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLight.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light";
  src: url("/fonts/jetbrains/JetBrainsMono-Light.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-LightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("/fonts/jetbrains/JetBrainsMono-Medium.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-MediumItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin";
  src: url("/fonts/jetbrains/JetBrainsMono-Thin.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ThinItalic.ttf");
}
body {
  margin: 0;
  padding: 0;
  color: rgb(238, 238, 238);
  background-color: rgb(24, 25, 25);
  font-family: "JetBrains Mono Medium", sans-serif;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.home .title {
  margin: 0.25rem 0;
  padding: 0;
}
.home .title .t1 {
  font-size: 1.25rem;
}
.home .title .t2 {
  font-size: 1.4rem;
}
.home .title .t3 {
  font-size: 1.3rem;
}
.home .description {
  display: inline-block;
  margin: 1rem 0 0.25rem 0;
  padding: 0;
  color: rgb(238, 238, 238);
}
.home .description:not(:last-of-type) {
  margin-right: 0.6rem;
}
.home .description.link {
  color: rgb(255, 183, 3);
  cursor: pointer;
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-BoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLight.ttf");
}
@font-face {
  font-family: "JetBrains Mono Extra Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-Italic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light";
  src: url("/fonts/jetbrains/JetBrainsMono-Light.ttf");
}
@font-face {
  font-family: "JetBrains Mono Light Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-LightItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("/fonts/jetbrains/JetBrainsMono-Medium.ttf");
}
@font-face {
  font-family: "JetBrains Mono Medium Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-MediumItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("/fonts/jetbrains/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBold.ttf");
}
@font-face {
  font-family: "JetBrains Mono Semi Bold Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin";
  src: url("/fonts/jetbrains/JetBrainsMono-Thin.ttf");
}
@font-face {
  font-family: "JetBrains Mono Thin Italic";
  src: url("/fonts/jetbrains/JetBrainsMono-ThinItalic.ttf");
}
.projects .project {
  margin: 2rem 0.5rem;
  padding: 0;
}
.projects .project a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  color: rgb(238, 238, 238);
  text-decoration: none;
}
.projects .project a .underline {
  width: 100%;
  height: 0.125rem;
  margin: 0 0.5rem;
  background-color: rgb(255, 158, 0);
  transform: scale(0.95);
  transition: transform 300ms ease-in-out;
}
.projects .project a:hover .underline {
  transform: scale(0.99);
}
.projects .project .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projects .project .title .url {
  margin: 0 0 0 0.3rem;
  padding: 0;
  font-size: inherit;
}
.projects .project .title .status {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.5rem;
  margin: 0 0 0 0.6rem;
}
.projects .project .title .status.planning {
  background-color: red;
}
.projects .project .title .status.development {
  background-color: blue;
}
.projects .project .title .status.production {
  background-color: green;
}
.projects .project .title .status.deprecated {
  background-color: grey;
}
.projects .project .description {
  margin: 0.75rem 0.4rem;
  font-size: 1.1rem;
}
.projects .project .proprietary {
  margin: 1.25rem 0.5rem 0.75rem 0.5rem;
  font-size: 0.9rem;
  font-family: "JetBrains Mono Italic", sans-serif;
  color: rgb(224, 224, 224);
}
.projects .project .sources {
  list-style-type: none;
  margin: 1.25rem 0.8rem 0 0.8rem;
  padding: 0;
}
.projects .project .sources .source {
  margin: 0.5rem 0;
  padding: 0;
}

.skills .skills-title {
  margin: 0.65rem 0;
  padding: 0;
}
.skills .skills-subtitle {
  margin: 0.4rem 0;
  padding: 0;
}
.skills .skills-subtitle::before {
  content: "(";
}
.skills .skills-subtitle::after {
  content: ")";
}
.skills .skills-title-spacer {
  margin: 1.5rem 0 2rem 0;
}
.skills .skills-list-title {
  margin: 1.25rem 0 0.5rem 0;
}
.skills .skills-list {
  margin: 0.25rem 0;
}
.skills .skills-list-item {
  margin: 0;
  padding: 0;
}
.skills .skills-list-item .skills-list-item-text {
  margin: 0;
  padding: 0;
  width: fit-content;
}
.skills .skills-list-item .skills-list-item-text.golden {
  color: rgb(255, 158, 0);
  animation: text-glow 3000ms ease-in-out infinite;
}

@keyframes text-glow {
  0%, 100% {
    text-shadow: 0 0 4px rgb(255, 183, 3);
  }
  50% {
    text-shadow: 0 0 6px rgb(255, 183, 3);
  }
}

/*# sourceMappingURL=main.css.map */
