@import "../lib/mixins";
@import "../lib/colors";
@import "../lib/fonts";

$language-width: 10rem;

.language-settings {
    .language-settings-toggle {
        @include flex(row, false);
        align-items: center;
        position: fixed;
        top: .75rem;
        right: 1.25rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        pointer-events: all;
        z-index: 1;
    }

    .language-dropdown {
        @include flex(column, true);
        align-items: flex-start;
        position: fixed;
        top: 3.75rem;
        right: 1.25rem;
        z-index: 1;

        .language-dropdown-item {
            @include flex(row, false);
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
        }

        &.active {
            .language-dropdown-item {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .language-flag {
        aspect-ratio: 16 / 10;
        width: 3rem;
        margin-right: .75rem;
        pointer-events: none;
    }

    .language-name {
        font-size: 1rem;
        font-family: "JetBrains Mono Regular", $backup-font;
        color: $white-200;
        pointer-events: none;
    }
}
